OPENAI_API_KEY=
BASE_INSTRUCTION=Summarize diff logs with a commit message.
PROMPT_ENGINEERED_INSTRUCTION=Given a user-provided Git diff, generate a concise commit message summarizing the changes.\nFollow the pattern: <action> <module/functionality> <details>.\nUse all lowercase letters, use imperative action verbs, write just one line of commit message and nothing else.
BASE_MODEL=gpt-3.5-turbo
FINETUNED_MODEL=